@page "/admin/skills"
@layout AdminLayout
@attribute [Authorize]

@using System.ComponentModel.DataAnnotations
@using ZaneStacked.Shared.DTOs
@using ZaneStacked.Web.Services

<PageTitle>Skills - ZaneStacked</PageTitle>

<main class="container-fluid">
    <!-- Header -->
    <h2 class="mb-3 mt-2">Skills</h2>

    <!-- Add Skill Button -->
    <button class="btn btn-custom mb-3"
            disabled="@_isLoading"
            @onclick="ToggleEditForm">
        @(_showForm ? "Cancel" : "Add Skill")
    </button>

    <!-- Skill Form (Add/Edit) -->
    @if (_showForm)
    {
        <div class="card p-3 mb-3">
            <EditForm Model="_currentSkill" OnValidSubmit="SaveSkill">
                <DataAnnotationsValidator/>

                <div class="form-floating mb-3">
                    <InputText @bind-Value="_currentSkill.Name" class="form-control"/>
                    <label>Skill Name</label>
                    <ValidationMessage For="() => _currentSkill.Name" class="text-danger"/>
                </div>

                <div class="form-floating mb-3">
                    <InputNumber @bind-Value="_currentSkill.YearsOfExperience" class="form-control"/>
                    <label>Years of Experience</label>
                    <ValidationMessage For="() => _currentSkill.YearsOfExperience" class="text-danger"/>
                </div>

                <div class="form-floating mb-3">
                    <InputText @bind-Value="_currentSkill.Proficiency" class="form-control"/>
                    <label>Proficiency</label>
                    <ValidationMessage For="() => _currentSkill.Proficiency" class="text-danger"/>
                </div>

                <LoadingButton
                    ButtonClass="btn-custom w-100"
                    Type="submit"
                    Text="@(_isEditing && _selectedSkill is not null ? "Update" : "Add")"
                    IsLoading="@(_isLoading && !_isDeleting)"
                    Disabled="@IsButtonDisabled"/>
            </EditForm>
        </div>
    }

    <!-- Search Input -->
    @* <input type="text" *@
    @*        class="form-control mb-3" *@
    @*        placeholder="Search skills..." *@
    @*        @bind="_searchTerm"/> *@

    @if (_allSkills is null)
    {
        <p>Loading...</p>
    }
    else if (_allSkills.Count == 0)
    {
        <p>No skills found.</p>
    }
    else
    {
        <!-- Skill List -->
        <div class="list-group">
            @* <Virtualize ItemsProvider="LoadSkills" ItemSize="50" Context="skill"> *@
            <Virtualize Items="_allSkills" ItemSize="50" Context="skill">
                <button @key="skill.Id"
                        class="list-group-item list-group-item-action @(_selectedSkill?.Id == skill.Id ? "active" : "")"
                        @onclick="() => SelectSkill(skill)">
                    <div class="d-flex justify-content-between">
                        <span class="fw-bold">@skill.Name</span>
                        <span>@skill.YearsOfExperience yrs</span>
                    </div>
                    <small class="text-muted">@skill.Proficiency</small>
                </button>
            </Virtualize>
        </div>
    }
</main>

<!-- Action Panel -->
@if (_selectedSkill is not null)
{
    <ActionPanel
        IsLoading="_isLoading"
        IsDeleting="_isDeleting"
        OnEdit="EditSkill"
        OnDelete="DeleteSkill"/>
}


@code {

    [Inject]
    private SkillService SkillService { get; set; } = null!;
    
    [Inject]
    private ToastService ToastService { get; set; } = null!;

    private List<SkillDto>? _allSkills;
    private InputSkill _currentSkill = new();
    private SkillDto? _selectedSkill;

    // private string _searchTerm = "";

    private bool _isEditing;
    private bool _showForm;

    private bool _isLoading;
    private bool _isDeleting;

    private bool IsButtonDisabled => _isLoading || _isDeleting;

    protected override async Task OnInitializedAsync()
    {
        _isLoading = true;

        _allSkills = await SkillService.GetSkillsAsync();

        _isLoading = false;
    }

    private void ToggleEditForm()
    {
        _showForm = !_showForm;
        if (!_showForm)
            return;

        _isEditing = false;
        _currentSkill = new InputSkill();
    }

    private async Task SaveSkill()
    {
        _isLoading = true;

        if (_currentSkill.Id == 0)
        {
            var createdSkill = await SkillService.AddSkillAsync(
                new InputSkillDto
                {
                    Name = _currentSkill.Name,
                    YearsOfExperience = _currentSkill.YearsOfExperience,
                    Proficiency = _currentSkill.Proficiency
                }
            );
            if (createdSkill is not null)
            {
                _allSkills?.Insert(0, createdSkill);
                await ToastService.ShowToastAsync(ToastType.Success);
            }
            else
            {
                await ToastService.ShowToastAsync(ToastType.Error);
            }
        }
        else
        {
            var updatedSkill = await SkillService.UpdateSkillAsync(
                _currentSkill.Id,
                new InputSkillDto
                {
                    Name = _currentSkill.Name,
                    YearsOfExperience = _currentSkill.YearsOfExperience,
                    Proficiency = _currentSkill.Proficiency
                }
            );
            if (updatedSkill is not null)
            {
                var index = _allSkills?.FindIndex(s => s.Id == updatedSkill.Id);
                if (index is not null && index != -1 && _allSkills is not null)
                {
                    _allSkills[index.Value] = updatedSkill;
                    await ToastService.ShowToastAsync(ToastType.Success);
                }
                else
                {
                    await ToastService.ShowToastAsync(ToastType.Error);
                }
            }
            else
            {
                await ToastService.ShowToastAsync(ToastType.Warning);
            }

            _isEditing = false;
            _selectedSkill = null;
            _showForm = false;
        }

        _currentSkill = new InputSkill();
        _isLoading = false;
    }

    private void SelectSkill(SkillDto skill)
    {
        _selectedSkill = _selectedSkill?.Id == skill.Id ? null : skill;
        if (_selectedSkill is null)
            ResetCurrentSkill();
    }

    private void EditSkill()
    {
        if (_selectedSkill is null)
            return;

        _isEditing = true;
        _showForm = true;

        _currentSkill = new InputSkill
        {
            Id = _selectedSkill.Id,
            Name = _selectedSkill.Name,
            YearsOfExperience = _selectedSkill.YearsOfExperience,
            Proficiency = _selectedSkill.Proficiency
        };
    }

    private async Task DeleteSkill()
    {
        if (_selectedSkill is null)
        {
            await ToastService.ShowToastAsync(ToastType.Warning);
            return;
        }

        _isLoading = true;
        _isDeleting = true;

        var deleted = await SkillService.DeleteSkillAsync(_selectedSkill.Id);
        if (deleted)
        {
            _allSkills?.Remove(_selectedSkill);
            await ToastService.ShowToastAsync(ToastType.Success);
        }
        else
        {
            await ToastService.ShowToastAsync(ToastType.Error);
        }

        _selectedSkill = null;
        _isLoading = false;
        _isDeleting = false;

        ResetCurrentSkill();
    }

    private void ResetCurrentSkill()
    {
        _currentSkill.Id = 0;
        _isEditing = false;
    }

    private class InputSkill
    {
        public int Id { get; set; }

        [Required]
        [MinLength(1)]
        public string Name { get; set; } = string.Empty;

        [Range(0, 40)]
        [Display(Name = "Years of Experience")]
        public int YearsOfExperience { get; set; }

        [Required]
        [MinLength(1)]
        public string Proficiency { get; set; } = string.Empty;
    }

}